.header {
    padding: 40px;
    text-align: center;
    background-image: url("the-little-prince-HEADER\ \(2\).jpg");
    color: powderblue;
    font-size: 20px;
    font-family: cursive;
}

.row{
    display: flex;
    width: 100%;
}
.row div {
    width: 50%;
  }
  
  .noMargin {
    margin: 0px;
  }
  
  .one {
    height: 300px;
    width: 90%;
    background-color: red;
    color: powderblue;
    font-family: cursive;
  }
  
  
  .two {
    height: 300px;
    width: 90%;
    background-color: yellow;
    color: powderblue;
    font-family: cursive;
    
  }
  
  .three {
    height: 300px;
    width: 90%;
    background-color: green;
    color: powderblue;
    font-family: cursive;
    
  }
  
  .four {
    height: 300px;
    width: 90%;
    background-color: yellow;
    color: powderblue;
    font-family: cursive;
    
  }
body{
    margin:0 ;
    font-family:  system-ui;
    background: rgba(248,222,126,0.3 )
    /*background-image: url("Prince.jpg");*/

}
.center{

    margin: auto;
    width: 50%;
    border: 3px solid;
    padding: 10px;

}

.hero{
   /* background-color: #074f67;
   /* background-image: url("the-little-prince-new.jpg");*/
    background-size: cover;
    /*color: white;*/
    
}



