.row{
    display: flex;
    width: 100%;
}
.row div {
    width: 50%;
  }
  
  .noMargin {
    margin: 100px;
  }
  
  .one {
    height: 300px;
    width: 50%;
    background-color: red;
    
    
  }
  
  .two {
    height: 300px;
    width: 50%;
    background-color: yellow;
    
  }
  
  .three {
    height: 300px;
    width: 50%;
    background-color: green;
    
  }
  
  .four {
    height: 300px;
    width: 50%;
    background-color: powderblue;
    
  }
body{
    margin:0 ;
    font-family:  system-ui;
    /*background-image: url("Prince.jpg");*/

}
.center{

    margin: auto;
    width: 50%;
    border: 3px solid;
    padding: 10px;

}

.hero{
   /* background-color: #074f67;
   /* background-image: url("the-little-prince-new.jpg");*/
    background-size: cover;
    /*color: white;*/
    
}



