body{
    margin: 0;
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.saatchiart.com%2Fart%2FPainting-Little-Prince-Starry-Night%2F1757959%2F8322628%2Fview&psig=AOvVaw1bHTE6MlGVsLaRrVxmk1GQ&ust=1695361699533000&source=images&cd=vfe&opi=89978449&ved=0CA8QjRxqFwoTCJiYitGAu4EDFQAAAAAdAAAAABBy");
    text-align: center; 
}